@charset "UTF-8";

body {display: flex; justify-content: center; flex-flow: column; align-items: center; margin: 100px 0;}
.container {position: relative; display: flex; flex-flow: row; height: 240px; align-items: center;}
.circle {position: relative; border: 1px solid #666; width: 100px; height: 100px; border-radius: 50%; display: flex; justify-content: center; align-items: center;}
.circle + div {margin-left: 48px;}
.line {position: absolute; left: 50%; transform: translateX(50%); height: 68px; border: 1px dashed #666;}
.line.back {top: -72px;}
.line.front {bottom: -72px; position: absolute;}
.line.front::after {content: ''; position: absolute; width: 25px; height: 25px; transform: rotate(45deg) translate(25%, -45%); bottom: 0; right: 100%; border-bottom: 1px solid #666; border-right: 1px solid #666;}
.square {position: relative; width: 480px; height: 200px; border: 1px solid #666;}
.square::before {display: block; position: absolute; content: ''; top: 50%; transform: translate(50%, -50%) rotate(135deg) translateZ(0); left: -27px; height: 25px; width: 25px; background: #fff; border: inherit; border-width: 0 1px 1px 0; border-radius: 0 0 2px 0;}